body {
  height: 100vh;
  background-color: #03b373;
}


.login-box {
  background-color: #2b2d42;
  color: #8d99ae;
  border-radius: 20px;
}


.login-title {
  font-weight: 700;
}

.input-label {
  margin-left: 0.5rem;
  font-size: 0.9rem;
}

.form-input {
  border-radius: 5px;
  border-style: hidden;
}

.login-submit {
  border-radius: 10%;
  color: #8d99ae;
  background-color: #2b2d42;
  font-size: 1rem;
  font-weight: 600;
}